h1 {
    color: #ff8c15;
    background-color: #000;
}

body {
    width: 600px;
    margin: 40px auto;
    font-family: 'trebuchet MS', 'Lucida sans', Arial;
    font-size: 14px;
    background-color: black;
}

table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 90%;
    background-color: black;
    color: #fff;
}

table td tr {
    text-align: center;
    vertical-align: middle;
}

.bordered {
    border: solid #ccc 1px;
}

.bordered tr:hover {
    background: #181818;
    color: #ff8c15;
}

.bordered tr {
    padding-left: 10px;
    padding-right: 5px;
    border: 1px solid #363636;
}

.bordered th {
    background-color: #222222;
    border-top: none;
    padding: 5px 5px 5px 5px;
}

.td-center {
    padding-left: 20px;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
        border: none;
    }

    .td-center {
        padding-left: 180px;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        position: relative;
        padding-left: 35%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 35%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
    Label the data
    */
    td:nth-of-type(1):before {
        content: "Position";
    }

    td:nth-of-type(2):before {
        content: "Popularity";
    }

    td:nth-of-type(3):before {
        content: "Artist";
    }

    td:nth-of-type(4):before {
        content: "Title";
    }

    td:nth-of-type(5):before {
        content: "Download";
    }
}